APP_ENV=development
PORT=8081

# Database Configuration (Orderyx DB)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=orderyx
DB_SSLMODE=disable

# JWT Configuration
JWT_SECRET_KEY=ops_super_secret_key_change_me_in_prod
JWT_ACCESS_TOKEN_EXP_HOURS=24
